.topbar{
    width: 100%;
    height: 70px;
    background-color: #15023a;
    position: fixed;
    top: 0; 
    z-index: 2; // specifies stack order, greater value elements will be in front of lower valued elements
}